@import "colors";

@mixin mp ($margin, $padding){
    margin: $margin;
    padding: $padding;
    
}

nav{
    background-color: map-get($map: $colores, $key: bg-nav);


    ul{
        li{
            @include mp(5px, 5px);
            margin-bottom: 5px;
            background-color: rgb(182, 120, 28);
            border-radius: 05px;
            
            a{
                font-size: 20px;
                text-decoration: none;
                color: #15182c;
                &:hover{
                    font-weight: bold;
                    color: #1025af;

                }
            }
        }
    }
}
