body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#grilla {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 110px repeat(3, 1fr) 100px;
  grid-template-areas:
    "header header header"
    "nav productos productos"
    "nav productos productos"
    "nav productos productos"
    "footer footer footer";

  height: 200vh;


}

header {
  background-color: #fff7f4;
  grid-area: header;

}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

footer {
  background-color: #808080;
  grid-area: footer;



}

nav {
  background-color: #f1e1dc;
  grid-area: nav;
  
}

section#productos {
  background-color: #64ebed1f;
  grid-area: productos;

}


.border {
  border: 2px solid rgba(0, 0, 0, 0.124);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline-start: 0px;
}

nav ul li{
  margin: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgb(182, 120, 28);
  border-radius: 05px;
  text-align: center;
 
}

nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #15182c;
  
}

nav ul li a:hover {
  font-weight: bold;
  color: #1025af;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;

}

.card-productos {
  background-color: #d1e7dd;
  border: 01px solid rgba(0, 0, 0, 0.42);
  color: #8d745f;
  width: 25vw;
  margin: 1rem;
  height: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card-imagen {
  width: 20vw;
  height: 20rem;
  overflow: hidden;
}

.card-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  background-color: #A64208;
  color: #F3F9F7;
  padding: 0.5rem;
  border-radius: 5px;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

footer ul {
  list-style-type: none;


}

footer ul li a,
span {
  text-decoration: none;
  color: #15182c;
}

footer ul li a:hover,
span:hover {
  font-weight: bold;
  color: #1025af;
}

@media screen and (max-width: 480px) {
  #grilla {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 8% 5% 39.5% 39.5% 8%;
    grid-template-areas:
      "header header"
      "nav nav"
      "productos productos"
      "productos productos"
      "footer footer";

  }

  .border {
    border: 4px solid #00000049;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-items: center;
    padding: 1px;
    
  
  }
  .contenedor {
    align-content: space-between;
    justify-content: space-between;
  }

  .card-productos {
    width: 45vw;
    height: 40vh;
    margin: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .card-imagen{
    width: 35vw;
    height: 45vh;
  }

}