.card-productos {
    transition: background-color 1s;
}

.card-productos:hover {
    background-color: #b7daca;
    transform: scale(1.05,1.05);
    border-radius: 05px;
    border: 1.2px solid rgb(0, 0, 0);
}

nav {
    background-image: linear-gradient(#f1e1dc,rgb(134, 196, 134));
}